* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  padding: 0px 40px;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: #eee;
}

header .logo {
  width: 300px;
}

header .logo img {
  max-width: 100%;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 150px;
}
header nav ul a {
  text-decoration: none;
  color: inherit;
}
header nav ul li {
  text-transform: capitalize;
}

main h1 {
  text-align: center;
}

form.subscribe {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form.subscribe input {
  padding: 5px;
}

form button {
  width: fit-content;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #f1c40f;
  border: none;
  font-size: 20px;
}
.features {
  display: flex;
  gap: 100px;
  flex-direction: column;
  max-width: 1000px;
  margin: 100px auto;
}

.features .feature {
  display: flex;
  gap: 100px;
}

.feature img {
  max-width: 48px;
  max-height: 48px;
}
